################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookStoreSolution/BookStore/wwwroot/css/StyleSheet.css
