<footer class="border-top footer text-muted text-center opp">
    <div class="container">
        Copyright &copy; - BookStore @DateTime.Now.Year  - <a asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
        @*<a href="mailto:tarunsmahar@gmail.com">tarunsmahar@gmail.com</a>*@

        @*CUSTOM TAG HELPER FOR EMAIL*@
        <custom-email my-email="tarunsmahar@gmail.com"></custom-email>

    </div>
</footer>