@{
    ViewData["Title"] = "New Book";
}
@inject BookStore.Repository.ILanguageRepository _languageRepo

@using BookStore.Enums
@model BookModel

<div class="container">
    <h3 class="display-4">Add New Book</h3>
    @if (ViewBag.IsSuccess == true)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Congratulations</strong> You have added new book successfully. <br />
            Click <a asp-controller="Book" asp-action="GetBook" asp-route-id="@ViewBag.BookId">here</a> to view the details.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <form method="post" enctype="multipart/form-data" asp-action="AddNewBook" asp-controller="Book">
        <div asp-validation-summary="All" class="text-danger"></div>

        <!--<div class="form-group">
            <label asp-for="LanguageEnum"></label>
            <select asp-for="LanguageEnum" class="form-control" asp-items="Html.GetEnumSelectList<LanguageEnums>()" >
                <option value="">Please choose Book Language</option>-->
        @*hardcoded opotion tag using html
            <option value="">Please choose Book Language</option>
                <option value="Hindi">Hindi (Recommended)</option>
                <option value="English">English (Gloabl Language)</option>
                <option value="Punjabi">Punjabi (Optional)</option>*@
        <!--</select>
            <span asp-validation-for="LanguageEnum" class="text-danger"></span>
        </div>-->

        <div class="form-group">
            <label asp-for="LanguageId"></label>

            @*can be used with dependecy injection therefore we don't need to pass viewbag from controller 2 times in get and post method*@
            @*<select asp-for="LanguageId" class="form-control" asp-items="(await _languageRepo.GetLanguages()).Select(x=>new SelectListItem() { Text=x.Text, Value=x.Id.ToString()})" required>*@

            <select asp-for="LanguageId" class="form-control" asp-items="ViewBag.Language" required>
                <option value="">Please choose Book Language</option>
            </select>
            <span asp-validation-for="LanguageId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Author"></label>
            <input asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control" rows="4"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TotalPages"></label>
            <input asp-for="TotalPages" class="form-control" />
            <span asp-validation-for="TotalPages" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CoverPhoto"></label>
            <div class="custom-file">
                <input asp-for="CoverPhoto" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <span asp-validation-for="CoverPhoto" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="GalleryFiles"></label>
            <div class="custom-file">
                <input asp-for="GalleryFiles" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <span asp-validation-for="GalleryFiles" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="BookPdf"></label>
            <div class="custom-file">
                <input asp-for="BookPdf" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <span asp-validation-for="BookPdf" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Add Book" class="btn btn-outline-primary" />
        </div>
    </form>
</div>
